.wrapper {
  display: flex;
  width: 100%;
  border: 1px solid black;
  /* flex-direction: column; */
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* max-width: 700px; */
  min-width: 650px;
}

.wrapper-item {
  /* display: inline; */
  width: 200px;
  height: 250px;
  border: 1px solid red;
  overflow: hidden;
  font-size: 24px;
  line-height: 40px;
}

.span-class {
  color: red;
}

.kosharius-wrapper {
  width: 200px;
  height: 200px;
}

.kosharius {
  background-image: url("./cat.webp");
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

table {
  width: 300px;
  border: 1px solid black;
  border-spacing: 0;
}

td {
  border: 1px solid black;
  height: 100px;
  padding: 10px;
}

th {
  border: 1px solid black;
  height: 50px;
}

iframe {
  width: 1500px;
  height: 1500px;
}
